<form action="/product/new" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" required>
    </div>
    <div>
        <label for="amountInStorage">Amount In Storage</label>
        <input type="number" id="amountInStorage" name="amountInStorage" required>
    </div>
    <div>
        <label for="category">Category</label>
        <input type="text" id="category" name="category" required>
    </div>
    <div>
        <label for="gender">Gender</label>
        <input type="text" id="gender" name="gender" required>
    </div>
    <div>
        <label for="brand">Brand</label>
        <input type="text" id="brand" name="brand" required>
    </div>
    <button type="submit">Create product</button>
</form>